.iconfont {
  font-family: "iconfont" !important;
  font-size: 42rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';  /* Project id 2960249 */
  src: url('https://at.alicdn.com/t/font_2960249_n52x1l411y.woff2?t=1638195214678') format('woff2'),
       url('https://at.alicdn.com/t/font_2960249_n52x1l411y.woff?t=1638195214678') format('woff'),
       url('https://at.alicdn.com/t/font_2960249_n52x1l411y.ttf?t=1638195214678') format('truetype');
}